.MuiDrawer-paper {
  width: 22vw;
  min-width: 270px;
}

.MuiSnackbarContent-message{
  width: 100%;
}

#main {
  margin-left: 22vw;
}

.playButton {
  background-color: red !important;
  color: white !important;
  margin-left: 5px !important;
}

.playButton:hover {
  background-color: red !important;
  color: white !important;
  margin-left: 5px !important;
}
