.MuiDrawer-paper {
  width: 22vw;
  min-width: 270px;
}

.MuiSnackbarContent-message{
  width: 100%;
}

#main {
  margin-left: 22vw;
}

.MuiPaper-root.playing {
  border: red 2px solid !important;
}

.MuiButtonBase-root.playing {
  background-color: red !important;
}
